

/* ul{
    list-style-type: none;
} */

.all{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    column-gap: 100px;
    padding-left: 30px;
}

div .clallenges {
    border-left: 2px;
}

div .connect{
    line-height: 10px;
    padding-bottom: 15px;
}